[Desktop Entry]
Type=Application
Name=Scw Secrets
Comment=Desktop UI for managing Scaleway secrets
Exec=scw-secrets
Icon=${SNAP}/opt/scw-secrets/AppIcon.png
StartupWMClass=scw-secrets
Terminal=false
Categories=Utility;Development;
